extends layout

block content
	h1= "crowd funding"
	p Welcome to #{title}
	button( onclick = "deploy()") Deploy my investor contract!
	label(id = "txt1")
//	form(action='/deploy',method = 'POST', name='deploy', id='deploy')
//		input(type="submit", value="company smart contract 배포")
//		button( onclick = "deploy()") Deploy my investor contract!
