doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Funding!
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/mobile.css', media='screen and (max-width : 568px)')
    script(src='https://code.jquery.com/jquery-3.4.0.min.js')
    script(type='text/javascript', src='/javascripts/mobile.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    #header
      a.logo(href='index.html')
        img(src='/images/Crowd-Funding.png', alt='')
      ul#navigation
        li
          a(href='/') home
        li
          a(href='/about') about
        li.selected
          a(href='/funding') funding
        li
          a(href='#') exchange
    #body
      div
        img(src='/images/wallet.jpg', alt='')
        .article
          h2 대한민국 대표 지갑, Monedero
          p
            | 휴대성을 극대화시킨 사이즈. 가로 120 mm 세로 70 mm의 지갑은 주머니, 가방에 넣어도 좋고, 한 손에 감기는 사이즈로 부담이 적습니다. 
            br
            | 천연 가죽소재로 패턴이 모두 달라 단 하나밖에 없는 희소성을 가집니다. 세상에 단 하나뿐인 지갑에 각인으로 특별함을 더할 수 있습니다.
          h3 리워드
          p
            | 1000wei 투자: 가죽지갑 
            br
            |  1500wei 투자: 가죽지갑 + 각인
          h3
            | 회사 smart contract (
            a(href='https://rinkeby.etherscan.io/address/0x30070a189bd36ddc3b511d15e2ad656dd2fbb6d3') smart contract on ethereum explorer
            | )
          div
            button#checkGoalBtn 금액 달성도 및 목표날짜 확인
            #loader
          h4
            | 약 6초의 시간이 소요됩니다. 
            br
            |  이러디움 노드를 사용하여 현재 이더리움(rinkeby) 상의 smart contract의 정보를 가져옵니다.
          p#checkGoal
          h3 잔액 확인하기
          button 나의 이더 잔액 확인하기
          br
          p
          h3 투자하기
          input(type='checkbox', value='Bike')
          | 1000wei 투자: 가죽지갑
          br
          input(type='checkbox', value='Bike')
          | 1500wei 투자: 가죽지갑 + 각인
          br
    #footer
