doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Crowd Funding
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/mobile.css', media='screen and (max-width : 568px)')
    script(type='text/javascript', src='/javascripts/mobile.js')
  body
    #header
      .usrInfo
        ul
          li
            a.login(href='login') 로그인
          li
            a.register(href='#') 회원가입
          li
            a.logout(href='#') 로그아웃
          li
            a.list(href='#') 투자 기록
      a.logo(href='/')
        img(src='images/Crowd-Funding.png', alt='')
      ul#navigation
        li
          a(href='/') home
        li
          a(href='/about') about
        li.selected
          a(href='/funding') funding
        li
          a(href='#') exchange
    #body
      ul.gallery
        p
        h2 Funding list
        p
        br
        br
        li
          a(href='/funding/fundingProject')
            img(src='images/wallet.jpg', alt='')
          p
            | 대한민국 대표 지갑, Monedero
          .company-goal
            span.goal-amount 1000 wei
            span.goal-date , 4/5
        li
          a(href='/funding/fundingProject')
            img(src='images/watch.jpg', alt='')
          p
            | 2차 펀딩 성공! Relojh 시계
          .company-goal
            span.goal-amount 1000 wei
            span.goal-date , 4/10
        li
          a(href='/funding/fundingProject')
            img(src='images/quadrocopter.png', alt='')
          p
            | 한 번 충전시 사용시간 10시간! 
            br
            | 페이드론
          .company-goal
            span.goal-amount 1000 wei
            span.goal-date , 5/5
        li
          a(href='/funding/fundingProject')
            img(src='images/bread.jpg', alt='')
          p
            | 신라호텔 출신 브랜드 빵
          .company-goal
            span.goal-amount 1000 wei
            span.goal-date , 4/29
    #footer

