doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Crowd Funding
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/mobile.css', media='screen and (max-width : 568px)')
    script(src='https://code.jquery.com/jquery-3.4.0.min.js')
    script(type='text/javascript', src='/javascripts/mobile.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
  body
    #header
      .usrInfo
        ul
          li
            a.login(href='login') 로그인
          li
            a.register(href='register') 회원가입
          li
            a.logout(href='/') 로그아웃
          li
            a.list(href='fundingList') 투자관리
          li
            a.project(href='project') 프로젝트관리
      a.logo(href='/')
        img(src='images/Crowd-Funding.png', alt='')
      ul#navigation
        li
          a(href='/') home
        li
          a(href='/about') about
        li.selected
          a(href='/funding') funding
        li
          a(href='#') exchange
    #body
      ul.fundingGallery
        h2 Funding list
    #footer
  script.
    var temp = "#{lists}".split(',');
    var name;
    var img;
    var gAmount;
    var gDate;
    console.log(temp);
    console.log(temp.length/4);
    for(var i = 0 ; i<temp.length/4 && temp.length != 1 ; i++){
      name = temp[i*4];
      img = temp[i*4+1];
      gAmount = temp[i*4+2];
      gDate = temp[i*4+3];
      var Link = "<a href='/fundingProject?name=" + name+"'";
      $('.fundingGallery').append('<li></li>');
      $('.fundingGallery li').last().append(Link+"><img src='\/"+img+"'/></a>");
      $('.fundingGallery li').last().append("<p>"+name+" 프로젝트</p>");
      $('.fundingGallery li').last().append("<p class='gAmount'>목표금액: "+gAmount+"wei</p>");
      $('.fundingGallery li').last().append("<p class='gDate'>목표날짜: "+gDate+"</p>");
    }

