
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Crowd Funding
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/mobile.css', media='screen and (max-width : 568px)')
    script(type='text/javascript', src='/javascripts/mobile.js')
  body
    #header
      a.logo(href='/')
        img(src='/images/Crowd-Funding.png', alt='', style='')
      ul#navigation
        li.selected
          a(href='/') home
        li
          a(href='/about') about
        li
          a(href='/funding') funding
        li
          a(href='#') exchange
    #body
      #featured
        img(src='images/home-boat.jpg', alt='')
        div
          h2
            | Crowd Funding
            br
            | based on Ethereum
          span smart contract기반 crowd funding입니다.
          span 낮은 수수료, 빠른 환불처리, 자금의 투명성을 제공하며
          span 이더리움 계좌 없이도 이더리움 거래가 가능합니다.
          a.more(href='/about') read more
      ul
        p
        h2 Best projects
        p
        br
        li
          a(href='/funding')
            img(src='images/wallet.jpg', alt='')
            h5 대한민국 대표 지갑, Monedero
        li
          a(href='/funding')
            img(src='images/watch.jpg', alt='')
            h5 2차 펀딩 성공! Relojh 시계
        li
          a(href='/funding')
            img(src='images/quadrocopter.png', alt='')
            h5
              | 한 번 충전시 사용시간 10시간!
              br
              | 페이드론
    #footer


