
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Crowd Funding
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/mobile.css', media='screen and (max-width : 568px)')
    script(src='https://code.jquery.com/jquery-3.4.0.min.js')
    script(type='text/javascript', src='/javascripts/mobile.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    #header
      .usrInfo
        ul
          li
            a.login(href='login') 로그인
          li
            a.register(href='#') 회원가입
          li
            a.logout(href='') 로그아웃
          li
            a.list(href='#') 투자 기록
      a.logo(href='/')
        img(src='/images/Crowd-Funding.png', alt='', style='')
      ul#navigation
        li.selected
          a(href='/') home
        li
          a(href='about') about
        li
          a(href='funding') funding
        li
          a(href='#') exchange
    #body
      #myForm.form-popup
        form.form-container(action="/loginPost", method="post")
          input(type='text', placeholder='아이디를 입력해주세요.', name='id', required="")
          input(type='password', placeholder='비밀번호를 입력해주세요.', name='pwd',required="")
          button.btn(type='submit') Login
    #footer
